.padUrna {
    -fx-background-color: #1B1E23;
}

.padUrnaG {
    -fx-max-width: 35em;
    -fx-max-height: 25em;
}

.btnNumUrna, .btnBrancoUrna, .btnCorrigeUrna, .btnConfirmaUrna {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-pref-height: 3em;
    -fx-pref-width: 7em;
}

.btnNumUrna {
    -fx-background-color: #181818;
    -fx-text-fill: #ffffff;
}

.btnNumUrna:hover {
    -fx-background-color: #000000;
}

.btnNumUrna:pressed {
    -fx-background-color: #333333;
}

.btnBrancoUrna {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.btnBrancoUrna:hover {
    -fx-background-color: #cbcbcb;
}

.btnBrancoUrna:pressed {
    -fx-background-color: #b2b2b2;
}

.btnCorrigeUrna {
    -fx-background-color: #d75413;
    -fx-text-fill: #000000;
}

.btnCorrigeUrna:hover {
    -fx-background-color: #b74208;
}

.btnCorrigeUrna:pressed {
    -fx-background-color: #8a3105;
}

.btnConfirmaUrna {
    -fx-background-color: #009600;
    -fx-text-fill: #000000;
}

.btnConfirmaUrna:hover {
    -fx-background-color: #017501;
}

.btnConfirmaUrna:pressed {
    -fx-background-color: #005700;
}